.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks {
  padding: 12px;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks:hover {
  background-color: #ddd;
  color: black;
}
