.navbar {
  background-color: white;
  overflow: hidden;
}

.navlinks {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlinks:hover {
  background-color: #ddd;
  color: black;
}
